<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="assets/apre-golfer-logo.png" width="50" height="48" class="center"/>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="!globalService.loggedIn ? '/auth/login' : ''" routerLinkActive="active" [disabled]="globalService.loggedIn">Login</a>
      <a mat-list-item [routerLink]="globalService.loggedIn ? '/dashboard' : 'auth/login'" routerLinkActive="active" [disabled]="!globalService.loggedIn" >Dashboard</a>
      <a mat-list-item [routerLink]="globalService.loggedIn ?'/list-of-drinks' : '/auth/login'" routerLinkActive="active" [disabled]="!globalService.loggedIn">Getränkeliste</a>
      <a mat-list-item [routerLink]="globalService.loggedIn ?'/balances': '/auth/login'" routerLinkActive="active" [disabled]="!globalService.loggedIn">Guthabenübersicht</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>Après-Golfer</span> -->
      <!-- <span class="topnav">Logged in user: {{globalService.loggedInUser ? globalService.loggedInUser.email : ''}}</span> -->
      <!-- <span><a *ngIf="globalService.loggedIn" (click)="globalService.SignOut()">Logout</a></span> -->
      <!-- <p style="float:left;">
        Logged in user: {{globalService.loggedInUser ? globalService.loggedInUser.email : ''}}
        <span style="float:right;">
          <a *ngIf="globalService.loggedIn" (click)="globalService.SignOut()">Logout</a>
        </span>
    </p> -->
      <p class="nav-top-left">Logged in user: {{globalService.loggedInUser ? globalService.loggedInUser.email : ''}}</p>
      <!-- <p class="nav-top-right"><a class="nav-top-right" *ngIf="globalService.loggedIn" (click)="globalService.SignOut()">Logout</a></p> -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
