<!-- <h2 class="text-center">dashboard works</h2> -->

<!-- <p>overallBookingsCount: {{overallBookingsCount}}</p>
<p>overallDrinkCount: {{overallDrinkCount}}</p> -->
<!-- <div>
<mat-grid-list cols="2" rowHeight="150">
    <mat-grid-tile>
        <mat-card class="card-top">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Anzahl Buchungen Gesamt</mat-card-title>
                    <mat-card-subtitle>{{overallBookingsCount}}</mat-card-subtitle>
                    <img mat-card-sm-image src="assets/overallBookingCount.png">
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content></mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="main-card">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Konsumierte Getränke Gesamt</mat-card-title>
                    <mat-card-subtitle>{{overallDrinkCount}}</mat-card-subtitle>
                    <img mat-card-sm-image src="assets/overallDrinkCount.png">
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content></mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</div> -->

<!-- <div class="content">
    <mat-grid-list [cols]="cardColumns" rowHeight="150" *ngFor="let drinkConsumationItem of drinkConsumationData">
        <mat-grid-tile [colspan]="1" [rowspan]="1" >
            <mat-card class="mat-elevation-z4">
                <mat-card-header>
                    <mat-card-title>{{drinkConsumationItem.name}} </mat-card-title>
                    <mat-card-subtitle>
                        Konsumiert: {{drinkConsumationItem.consumationCount}}<br/>
                        Buchungen: {{drinkConsumationItem.bookingCount}}</mat-card-subtitle>
                    <img mat-card-sm-image class="card-img-top" src="assets/{{drinkConsumationItem.imageUrl}}" [style.width.px]="calculateWidth(drinkConsumationItem.imageSize)" [style.height.px]="calculateWidth(drinkConsumationItem.imageSize)">
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->

<div>
<div class="row">
    <div class="col-12 col-md-4 col-lg-4">
        <div class="card">
            <img class="card-img-top-icon" src="assets/overallBookingCount.png">
            <div class="card-body">
                <h5 class="card-title text-center">Anzahl Buchungen gesamt </h5>
                <p class="card-text text-center">
                    <b>{{overallBookingsCount}}</b>
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
        <div class="card">
            <img class="card-img-top-icon" src="assets/overallDrinkCount.png">
            <div class="card-body">
                <h5 class="card-title text-center">Konsumierte Getränke Gesamt </h5>
                <p class="card-text text-center">
                    <b>{{overallDrinkCount}}</b>
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
        <div class="card">
            <img class="card-img-top-icon" src="assets/overallCost.png">
            <div class="card-body">
                <h5 class="card-title text-center">€ versoffen</h5>
                <p class="card-text text-center">
                    <b>{{overallCost}}</b>
                </p>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col-12 col-md-4 col-lg-4" *ngFor="let drinkConsumationItem of drinkConsumationData">
        <div class="card">
            <img class="card-img-top" src="assets/{{drinkConsumationItem.imageUrl}}" [style.width.px]="calculateWidth(drinkConsumationItem.imageSize)" [style.height.px]="calculateWidth(drinkConsumationItem.imageSize)">
            <div class="card-body">
                <h5 class="card-title text-center">{{drinkConsumationItem.name}} </h5>
                <p class="card-text text-center">
                    <b>{{drinkConsumationItem.consumationCount}}</b> konsumiert<br/>
                    <b>{{drinkConsumationItem.bookingCount}}</b> Buchungen</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
</div>