<div class="main">
    <p>
        Wieviele Getränke von {{ data.name }}?
    </p>
    
    <form #bookingForm="ngForm" class="mt-3" (ngSubmit)="performBooking(bookingForm, data)">
    <mat-form-field appearance="fill" width="400">
        <mat-label>Getränkeanzahl auswählen</mat-label>
        <mat-select matInput ngModel name="drinkCount"> <!-- [formControl]="drinkCountFormControl" -->
        <mat-option *ngFor="let drinkCount of drinkCountList" [value]="drinkCount">{{drinkCount}}</mat-option>
        </mat-select>
    </mat-form-field>
    <p>
        Auf wen darf gebucht werden?
    </p>
    <mat-form-field appearance="fill">
        <mat-label>Ein oder mehrere Personen auswählen</mat-label>
        <mat-select matInput multiple ngModel name="persons"><!-- [formControl]="personFormControl" -->
        <mat-option *ngFor="let person of personList" [value]="person">{{person.firstName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <span class="drink-count-hint">
        Die ausgewählte Getränkeanzahl wird auf alle angegebenen Personen gebucht!
    </span>
    <p>
        <button type="submit" mat-fab extended color="primary">
            <mat-icon>done_outline</mat-icon> <!-- https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/ -->
        Buchung abschließen
        </button>
    </p>
</form>
</div>